.outerContainer {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
  width: 40vw;
  margin: 10px;
}

.text-block {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 20px;
  text-align: center;
}
